{% extends 'base.html' %}

{% block title %}{{ sitename }}{% endblock %}

{% block script %}
  <script async="" src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{{ STATIC_URL }}js/embed.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <h2 class="page-header">Welcome</h2>
    <div id="hide" class="aligncenter">
      <img class="aligncenter" src="{{ STATIC_URL }}img/loading.gif" style="display: none;"/>
    </div>
    <ul id="embeds" class="oembedded" style="display: none;"></ul>
    {% for x in "123456789012345678901234567890" %}
      <p>hi</p>
    {% endfor %}
  </div>

  <div class="col-md-2 toggle-area">
    <label for="toggle-select">Streams displayed</label>
    <select multiple class="form-control" id="toggle-select" onclick="toggleDisplay()">
      <option value="blog-toggle">Blog</option>
      <option value="github-toggle">GitHub</option>
      <option value="flickr-toggle">Flickr</option>
      <option value="twitter-toggle">Twitter</option>
      <option value="lastfm-toggle">LastFm</option>
      <option value="soundcloud-toggle">Soundcloud</option>
    </select>
  </div>
</div>


<script language="javascript">
  ajaxCall('soundclouds');
  ajaxCall('flickrs');
  ajaxCall('twitters');
  ajaxCall('githubs');
  ajaxCall('lastfms');
  //ajaxCall('blogs');
</script>

{% endblock %}
