body {font-family: 'Questrial', sans-serif; background-color: #FFF;}

a {padding-left: 0px; padding-right: 0px;}

a:link {color: #666; text-decoration: none;}
a:visited {color: #666; text-decoration: none;}
a:hover {color: #000; text-decoration: none;}
a:active {color: #666; text-decoration: none;}

h1 {padding: 0px; margin: 0px; text-decoration: none;}

h1 small {font-size: 0.3em;}

h6 {padding: 0px; margin: 0px; text-decoration: none;}

p {text-decoration: none;}

iframe {border: 0px none transparent; padding-top: 10px;}

.body-wrap {max-width: 50%; min-width: 400px;}

.hide {display: none;}

.right {float: right;}

.left {float: left;}

.clear {clear: both;}

#show {display: none;}
