body {
  font-family: 'Questrial', sans-serif;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.toggle-area {
  position: fixed;
  right: 60px;
  top: 30px;
  width: 150px;
}

#toggle-select {
  height: 175px;
}

#site-title {
  margin-top: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #000;
  width: 175px;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.mobile-navbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #000;
  display: none;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}

.mobile-navbar h1 {
  padding: 0;
  margin: 0;
}

.mobile-navbar h1 small a {
  font-size: 0.75em;
}

@media (max-width: 989px) {
  .sidebar {
    display: none;
  }

  .mobile-navbar {
    display: block;
    height: 80px;
    min-height: 50px;
    padding: 20px 40px;
  }
}

/*
 * Main content
 */
.main {
  padding: 30px 20px;
}

@media (min-width: 990px) {
  .main {
    padding-top: 30px;
    padding-left: 205px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



.nav li {
  list-style-type: none;
}

body {
  background-color: #bbb;
  background-image: url("../img/bg-light.png");
  background-size: cover;
  background-attachment: fixed;
}

p, .main li {
  line-height: 1.75em;
}

.content {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #000;
}

p.pad-top-bot {
  padding-top: 15px;
  padding-bottom: 15px;
}

.indent1 {
  padding-left: 10px;
}

.indent2 {
  padding-left: 20px;
}

.indent3 {
  padding-left: 30px;
}

.indent4 {
  padding-left: 40px;
}

.vocab {
  color: #800;
}

img.pull-right {
  padding-left: 20px;
  padding-bottom: 20px;
}

code {
  white-space: normal;
}

code.button {
  color: #040;
  font-family: monospace;
  background-color: #dfd;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
