{% extends "base.html" %}

{% block title %}All Blog Posts{% endblock %}

{% block script %}
<script language="javascript">
function deletePost(urlId) {
  if (confirm("Delete fo' sho'?")) {
    $.ajax({
      type: "GET",
      url: "/admin/blog/delete/" + urlId,
      success: function(data) {
        location.reload();
      },
      error: function() {
        console.log('failed');
      }
    })
  }
}
</script>
{% endblock %}

{% block body %}
<h2>Blog</h2>
<small>Back to <a href="/admin">Admin Panel</a></small>

<hr />

{% if posts %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Public</th>
      <th class="text-center">Tags</th>
      <th class="text-center">Date</th>
      <th colspan=2 class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.title }}</td>
      <td>{{ post.content|truncate(25, True) }}</td>
      <td>{% if post.public %}<span class="glyphicon glyphicon-color glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-color glyphicon-remove"></span>{% endif %}</td>
      <td>
        {% for tag in post.tags %}
          <a href="/blog/filter/{{ tag }}">{{ tag }}</a>
          {% if not loop.last %}
          <br /> 
          {% endif %}
        {% endfor %}  
      </td>
      <td>{{ post.date.strftime("%m/%d/%Y") }}</td>
      <td><a href="/admin/blog/edit/{{ post.key.urlsafe() }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
      <td><a href="#" onclick="deletePost('{{ post.key.urlsafe() }}')"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No posts created yet...</p>
<br />
{% endif %}

<a class="btn btn-default" href="/admin/blog/new" role="button"><span class="glyphicon glyphicon-plus"></span> New Post</a>
{% endblock %}
