body {
  background-color: #444;
  color: #fff;
}

.sidebar {
  background-color: #222;
  color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #000;
}

.table-hover>tbody>tr:hover {
  background-color: #222;
}

a:link {color: #adf}
a:visited {color: #adf}
a:hover {color: #adf}
a:active {color: #adf}

a.btn {
  color: #000;
}
