{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block body %}
<h2>Edit <em>{{ post.title }}</em></h2>

<form action="/admin/blog/edit/{{ post.key.urlsafe() }}" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" name="content" rows="20">{{ post.content }}</textarea>
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Update</button>
  <a class="btn btn-default pull-right" href="/admin/blog/delete/{{ post.key.urlsafe() }}" role="button"><span class="glyphicon glyphicon-trash"></span> Delete</a>
</form>
{% endblock %}
