{% extends "base.html" %}

{% block title %}Gate{% endblock %}

{% block content %}
<h2>Welcome Welcome</h2>
<h4>Build your own website with no previous experience</h4>
<hr />
<h4 class="pull-right"><a href="http://gate-example.appspot.com">Deployed Final Checkpoint</a></h4>
<h4 class="pull-left"><a href="/gate/guide/overview.html">Begin The Tutorial</a></h4>
<div class="clearfix"></div>

<div class="pad-top-bot">
  <p>
    Beyond this Gate is your very own personal website that you learned to code from the
    ground up. This tutorial is aimed towards those with very minimal amounts of coding
    background, but who are interested in coding their own personal website.
  </p>
  <p>
    Topics covered include getting a development environment set up on Linux and OS X
    (and kind of Windows), navigating with the command line, and using Vim as a text
    editor. Python, HTML, CSS, and a small amount of Javascript will make up the bulk
    of the tutorial, along with putting it all together using Google's webapp2
    framework. This will allow for the app to easily be hosted with Google App Engine
    with very minimal further effort.
  </p>
  <p>
    By the end of the tutorial, you should have a simple blogging app where you
    understand how all of the parts fit together and how to tweak them to make it your
    own.
  </p>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Guide</th>
      <th>Checkpoints</th>
      <th>References</th>
      <th>External Resources</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/gate/guide/overview.html">Overview</a></td>
      <td><a href="http://github.com/samolds/gate/tree/master/checkpoints/1-barebone">1 - Barebone</a></td>
      <td><a href="/gate/refs/command_line.html">Command Line</a></td>
      <td><a href="http://www.davidbaumgold.com/tutorials/command-line">Command Line Tutorial</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/getting_started.html">Getting Started</a></td>
      <td><a href="http://github.com/samolds/gate/tree/master/checkpoints/2-scaffolded">2 - Scaffolded</a></td>
      <td><a href="/gate/refs/vim.html">Vim</a></td>
      <td><a href="http://vim.wikia.com/wiki/Tutorial">Vim Tutorial</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/developing_shell.html">Developing in the Shell</a></td>
      <td><a href="http://github.com/samolds/gate/tree/master/checkpoints/3-bootstrapped">3 - Bootstrapped</a></td>
      <td><a href="/gate/refs/python.html">Python</a></td>
      <td><a href="http://docs.python.org/2/tutorial">Python 2.7 Tutorial</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/python.html">Python Basics</a></td>
      <td><a href="http://github.com/samolds/gate/tree/master/checkpoints/4-interactive">4 - Interactive</a></td>
      <td><a href="/gate/refs/html.html">HTML</a></td>
      <td><a href="http://www.codecademy.com/en/tracks/web">HTML Tutorial</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/html.html">HTML Basics</a></td>
      <td><a href="http://github.com/samolds/gate/tree/master/checkpoints/5-admin">5 - Admin</a></td>
      <td><a href="/gate/refs/css.html">CSS</a></td>
      <td><a href="http://www.csstutorial.net/css-intro/introductioncss-part1.php">CSS Tutorial</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/hello_world.html">Hello World</a></td>
      <td><a href="http://github.com/samolds/gate/tree/master/app">6 - Built Out</a></td>
      <td><a href="/gate/refs/js.html">JavaScript</a></td>
      <td><a href="http://www.codecademy.com/en/tracks/javascript">Javascript Tutorial</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/mvc.html">MVC Pattern</a></td>
      <td></td>
      <td></td>
      <td><a href="http://getbootstrap.com/css">Bootstrap Documentation</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/design.html">Design</a></td>
      <td></td>
      <td></td>
      <td><a href="http://jinja.pocoo.org/docs/dev/templates">Jinja Documentation</a></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/database.html">The Database</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/admin.html">Admin</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/build_out.html">Build Out</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/gate/guide/publishing.html">Publishing on GAE</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br />
<hr id="faqs" />

<h3>Already know how to code?</h3>
<p>
  If you are already comfortable with you're development environment, coding in Python,
  and working with HTML and CSS and just want to see how to get started with Google
  App Engine skip ahead to the <a href="/gate/guide/hello_world.html">Hello World</a>
  section.
</p>

<br />
<h3>Already have a webapp2 project?</h3>
<p>
  If you're just looking for how to deploy a webapp2 project, skip ahead to the
  <a href="/gate/guide/publishing.html">Publishing on GAE</a> section.
</p>

<br />
<h3>Just want to host a simple, mostly static site?</h3>
<p>
  If you're not interested in learning about the whole MVC pattern and how to set up a full
  blown application with webapp2, I created a checkpoint just for you!
  <a href="https://github.com/samolds/gate/tree/master/checkpoints/3.5-portfolio">Checkpoint 3.5 - Portfolio</a>
  is a single page, static app that has enough of the webapp2 components to easily be hosted
  on Google App Engine. It uses Jinja templates and the MVC architecture still exists, but
  it can easily be stripped down. Most of the content is in the static directory. This
  is an <a href="http://gate-example.appspot.com/portfolio">example of Checkpoint 3.5</a>
  hosted on Google App Engine.
</p>

<br />
<h3>Why am I Doing This?</h3>
<p>
  I've used a lot of tutorials and I figured it was time to try and give back. I also noticed
  that there are a handful of people in my life that could find this useful at the moment. Some
  of them have taken multiple CS classes and are just interested in utilizing some free web
  hosting, while others only took one CS classes many years ago and have never built a website
  before.
</p>
<p>
  I want this to be a complete guide for anyone who has no developement experience, but is
  interested in building their own website (and not some dopey Wordpress blog).
</p>

<br />
<h3>Why the name 'Gate'?</h3>
<p>
  When I initially started working on this project, I considered it to be a Google App Engine
  Tutorial. I started calling it GAE-Tut for short which soon morphed into just 'Gate'.
</p>

<br />
<h3>Don't like to read?</h3>
<p>
  Tough. However, I want the barrier to entry to be as low as possible so I have an Introduction
  to Gate video on the way! I will explain the lay of the land, what resources I have tried to
  provide, where all of the example code is and how to get it, and try to do a quick screencast
  all the way up to the Hello World example.
</p>
<p>
  Stay tuned for the video!
</p>

<br />
<h3>Don't like something?</h3>
<p>
  I love feedback. If something is sucky or there is an error and something doesn't work, please
  let me know. Open up an <a href="http://github.com/samolds/gate/issues">issue</a> if you
  already have an account on GitHub, or just send me a
  <a href="http://samolds.com/contact">message</a>.
</p>

<br />
{% endblock %}
