<div class="mobile-navbar">
  <h1>Gate<small>
    <a class="indent4" href="/gate">Home</a>
    <a class="indent3" href="http://github.com/samolds/gate">GitHub</a>
  </small></h1>
</div>
<div class="sidebar">
  <h1 id="site-title">Gate</h1>
  <ul class="nav nav-sidebar">
    <li><a href="/gate">Home</a></li>
    <li><a href="#" onclick="toggleCollapse('gui')">Guide <span class="caret"></span></a>
      <ul id="gui" class="collapse out">
        <li><a href="/gate/guide/overview.html">Overview</a></li>
        <li><a href="/gate/guide/getting_started.html">Getting Started</a></li>
        <li><a href="/gate/guide/developing_shell.html">Developing in the Shell</a></li>
        <li><a href="/gate/guide/python.html">Python Basics</a></li>
        <li><a href="/gate/guide/html.html">HTML Basics</a></li>
        <li><a href="/gate/guide/hello_world.html">Hello World</a></li>
        <li><a href="/gate/guide/mvc.html">MVC Pattern</a></li>
        <li><a href="/gate/guide/design.html">Design</a></li>
        <li><a href="/gate/guide/database.html">The Database</a></li>
        <li><a href="/gate/guide/admin.html">Admin</a></li>
        <li><a href="/gate/guide/built_out.html">Built Out</a></li>
        <li><a href="/gate/guide/publishing.html">Publishing on GAE</a></li>
      </ul>
    </li>

    <li><a href="#" onclick="toggleCollapse('che')">Checkpoints <span class="caret"></span></a>
      <ul id="che" class="collapse out">
        <li><a href="http://github.com/samolds/gate/tree/master/checkpoints/1-barebone">1 - Barebone</a></li>
        <li><a href="http://github.com/samolds/gate/tree/master/checkpoints/2-scaffolded">2 - Scaffolded</a></li>
        <li><a href="http://github.com/samolds/gate/tree/master/checkpoints/3-bootstrapped">3 - Bootstrapped</a></li>
        <li><a href="http://github.com/samolds/gate/tree/master/checkpoints/4-interactive">4 - Interactive</a></li>
        <li><a href="http://github.com/samolds/gate/tree/master/checkpoints/5-admin">5 - Admin</a></li>
        <li><a href="http://github.com/samolds/gate/tree/master/app">6 - Built Out</a></li>
      </ul>
    </li>

    <li><a href="#" onclick="toggleCollapse('ref')">References <span class="caret"></span></a>
      <ul id="ref" class="collapse out">
        <li><a href="/gate/refs/command_line.html">Command Line</a></li>
        <li><a href="/gate/refs/vim.html">Vim</a></li>
        <li><a href="/gate/refs/python.html">Python</a></li>
        <li><a href="/gate/refs/html.html">HTML</a></li>
        <li><a href="/gate/refs/css.html">CSS</a></li>
        <li><a href="/gate/refs/js.html">JavaScript</a></li>
      </ul>
    </li>

    <li><a href="#" onclick="toggleCollapse('res')">External Resources <span class="caret"></span></a>
      <ul id="res" class="collapse out">
        <li><a href="http://www.davidbaumgold.com/tutorials/command-line">Command Line Tutorial</a></li>
        <li><a href="http://vim.wikia.com/wiki/Tutorial">Vim Tutorial</a></li>
        <li><a href="http://docs.python.org/2/tutorial">Python 2.7 Tutorial</a></li>
        <li><a href="http://www.codecademy.com/en/tracks/web">HTML Tutorial</a></li>
        <li><a href="http://www.csstutorial.net/css-intro/introductioncss-part1.php">CSS Tutorial</a></li>
        <li><a href="http://www.codecademy.com/en/tracks/javascript">Javascript Tutorial</a></li>
        <li><a href="http://getbootstrap.com/css">Bootstrap Documentation</a></li>
        <li><a href="http://jinja.pocoo.org/docs/dev/templates">Jinja Documentation</a></li>
      </ul>
    </li>
    <li><a href="http://gate-example.appspot.com">Deployed Final Checkpoint</a></li>
    <li><a href="http://github.com/samolds/gate">GitHub Repository</a></li>
  </ul>
</div>
