{% extends "base.html" %}

{% block title %}Gate{% endblock %}

{% block content %}
<h2>Build Out</h2>
<h4>Making it your own</h4>
<hr />

<p>
  At this point, it's time for the little birdy to leave the nest. You should have all of the pieces
  you need to deviate from the Lego manual. I'm not going to go into much detail of the technical
  changes I made, because I want you to read through the code on GitHub. So this section is going to
  be pretty short.
</p>
<p>
  This last 'Checkpoint' really isn't a checkpoint. It's the finish line - well my finish line. Yours
  should be something totally different. But I just continued to build an app that was a little bit
  more advanced using the same components we already covered. Let's see what you can make!
</p>

<br />
<h3>Goal</h3>
<p>
  You should already be able to understand the changes made in
  <a href="http://github.com/samolds/gate/tree/master/app">Checkpoint 6 - Built Out</a>.
</p>

<br />
<h3 id="changes">Changes Outlined
  <a href="#changes"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
</h3>
<hr />
<ul class="unstyled-list">
  <li>
    Updated a lot of the styles once the user has logged in to the Admin side.
  </li>
  <li>
    Added an 'About' page.
  </li>
  <li>
    Added the ability to post a comment to the site on a 'Contact' page.
  </li>
  <li>
    Added the ability to make blog posts public or private.
  </li>
  <li>
    Added the ability to add tags to a blog post
  </li>
  <li>
    Added the ability to filter blog posts based on tags
  </li>
  <li>
    Added the ability to upload images to blog posts.
  </li>
  <li>
    Added
    <a href="https://github.com/samolds/gate/tree/master/checkpoints/3.5-portfolio">Checkpoint 3.5 - Portfolio</a>
    as a static page available to checkout from the navbar.
  </li>
</ul>

<h4 class="pull-right"><a href="/gate/guide/publishing.html">Publishing on GAE <span class="glyphicon glyphicon-arrow-right"></span></a></h4>
<h4 class="pull-left"><a href="/gate/guide/admin.html"><span class="glyphicon glyphicon-arrow-left"></span> Admin</a></h4>
{% endblock %}
