{% extends "base.html" %}

{% block title %}Gate{% endblock %}

{% block content %}
<h2>Build Out</h2>
<h4>Making it your own</h4>
<hr />

<p>
  You've been following a guide this whole time to explain how all of the parts fit together.
  But you should have the tools now to customize it to make it your own.
</p>

<br />
<h3>Goal</h3>
<p>
  By the end of this section, you should be able to understand the changes made in
  <a href="http://github.com/samolds/gate/tree/master/app">Checkpoint 6 - Built Out</a>.
</p>

<br />
<h3>Dude</h3>
<img src="file:///Users/samolds/Desktop/projects/gate/styles/img/snoop.gif"
  id="img1" alt="Celebrate" class="collapse out pull-right" />
<p>
  Nice work, bud. You did it. You wrote your first web app. Now go grab yourself a bottle of
  champagne or make yourself some tea and <a href="#" onClick="toggleCollapse('img1')">celebrate</a>!
</p>
<div class="clearfix"></div>

<h4 class="pull-right"><a href="/gate/guide/publishing.html">Publishing on GAE <span class="glyphicon glyphicon-arrow-right"></span></a></h4>
<h4 class="pull-left"><a href="/gate/guide/admin.html"><span class="glyphicon glyphicon-arrow-left"></span> Admin</a></h4>
{% endblock %}
