{% extends "base.html" %}

{% block title %}Gate{% endblock %}

{% block content %}
<h2>The Database</h2>
<h4>Storing user's data</h4>
<hr />

<p>
  Earlier, we touched on the Model (in the MVC Pattern) - the time has come to continue this topic. The
  model defines how the users data will be stored by your webapp. Think of it like defining the columns
  of a spreadsheet, a very rigid and inflexible spreadsheet. But once you define this spreadsheet, or
  <span class="vocab">database</span>, you can store all sorts of stuff in it. Instead of writing
  static HTML pages all the time, you could create an <span class="vocab">HTML form</span> that allows
  you to post new blog entries. The blog posts will be stored in the database and then retrieved
  whenever someone goes to read it.
</p>

<br />
<h3>Goal</h3>
<p>
  By the end of this section, you should be able to understand the changes made in
  <a href="https://github.com/samolds/gate/tree/master/checkpoints/4-interactive">Checkpoint 4 - Interactive</a>.
</p>

<br />
<h3>Justification</h3>
<p>
  But I like writing static HTML pages, and creating a database and dealing with forms and user's posting
  data sounds hard! Why should I?
</p>
<p>
  Well, for a few reasons. Having a database and forms allows for people to be able to interact with your
  webpage. Being able to Tweet or post a Status Update on Facebook requires the use of a database. Sure,
  you could still write all of your blog posts with just static HTML, but if you want to allow users to
  add comments you'd need a database. Using an HTML form also means that you don't have to push new
  changes to your production environment, you can just click 'Post' or something on a user friendly web
  page.
</p>
<p>
  If you're still not convinced, if you don't want a blog or anything that allows for user's comments, or
  if your content is not going to change very frequently then
  <a href="https://github.com/samolds/gate/tree/master/checkpoints/3.5-portfolio">Checkpoint 3.5 - Portfolio</a>
  is exactly what you're looking for. Static sites have plenty of great use cases. They can be used as an
  e-Resume of sorts or as your central hub on the Internet that connects your separate profiles. In fact,
  this entire tutorial is one giant static website!
</p>

<br />
<h3>Pressing On</h3>
<p>
  So you've stuck around to see what's the business? Great! Let's start by setting up your Model. Then we
  can hook it in with your View and Controller.
</p>
<p>
  When you're setting up your model, think of it like creating a spreadsheet where the only columns that can
  contain information have to be explicity defined by you. And every new blog post, comment, Tweet, or Status
  Update is a new row.
</p>

<br />
<p>models.py</p>
<div>
<pre class="line-numbers"><code class="language-python">
from google.appengine.ext import ndb
import settings


try:
  DB_NAME = settings.DB_NAME
except AttributeError:
  DB_NAME = 'dev-guestbook'


def guestbook_key(guestbook_name=DB_NAME):
  return ndb.Key('Guestbook', guestbook_name)


class Author(ndb.Model):
  name = ndb.StringProperty(indexed=False)
  email = ndb.StringProperty(indexed=False)


class Greeting(ndb.Model):
  author = ndb.StructuredProperty(Author)
  content = ndb.StringProperty(indexed=False)
  date = ndb.DateTimeProperty(auto_now_add=True)</code></pre>
</div>
<p>
  The model works in this way
  ...........
</p>

<br />
<h3>The Front End</h3>
<p>
  Now that we've got your model established, let's set up the View to handle user input.
</p>

<p>views/greet.html</p>
<div class="indent1">
<pre class="line-numbers"><code class="language-markup">
{&#37; extends "base.html" &#37;}

{&#37; block title &#37;}Greet{&#37; endblock &#37;}

{&#37; block body &#37;}
  &lt;h2&gt;Greet&lt;/h2&gt;
  &lt;hr /&gt;

  &lt;br /&gt;
  &lt;ul class="list-unstyled"&gt;
    {&#37; for greeting in greetings &#37;}
      &lt;li style="padding-bottom: 20px;"&gt;
        {&#123; greeting.content &#125;}&lt;br /&gt;
        - {&#123; greeting.author &#125;}
      &lt;/li&gt;
    {&#37; endfor &#37;}
  &lt;/ul&gt;

  &lt;hr /&gt;

  &lt;form action="/greet" method="post"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-md-6"&gt;
        &lt;div class="form-group"&gt;
          &lt;label for="content"&gt;Sign&lt;/label&gt;
          &lt;textarea class="form-control" id="content" name="content" rows="8"&gt;&lt;/textarea&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-md-3"&gt;
        &lt;div class="form-group"&gt;
          &lt;label for="name"&gt;Name&lt;/label&gt;
          &lt;input type="text" class="form-control" id="name" name="name" placeholder="(Optional)"&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-md-3"&gt;
        &lt;div class="form-group"&gt;
          &lt;label for="email"&gt;Email&lt;/label&gt;
          &lt;input type="text" class="form-control" id="email" name="email" placeholder="(Optional)"&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-default"&gt;Sign Guestbook&lt;/button&gt;
  &lt;/form&gt;
{&#37; endblock &#37;}</code></pre>
</div>
<p>
  This uses an HTML element called a <span class="vocab">form</span>.
  ...........
</p>

<br />
<h3>Tying It All Together</h3>
<p>
  Now we've got your model established, let's set up the View to handle user input.
  ...........
</p>

<p>controllers/greet.py</p>
<div class="indent1">
<pre class="line-numbers"><code class="language-python">
from controllers.base import BaseRequestHandler
from models import DB_NAME
from models import guestbook_key
from models import Author
from models import Greeting


class Greet(BaseRequestHandler):
  def get(self):
    query = Greeting.query(ancestor=guestbook_key(DB_NAME)).order(-Greeting.date)
    greetings_obj = query.fetch(10)

    greetings = []
    for greeting in greetings_obj:
      if greeting.author and greeting.author.name:
        author = greeting.author.name
      elif greeting.author and greeting.author.email:
        author = greeting.author.email
      else:
        author = "Anonymous"

      greetings.append({
        "author": author,
        "content": greeting.content,
      })

    self.generate("greet.html", {"greetings": greetings})


  def post(self):
    greeting = Greeting(parent=guestbook_key(DB_NAME))
    user_name = self.request.get('name')
    user_email = self.request.get('email')
    greeting.author = Author(name=user_name, email=user_email)
    greeting.content = self.request.get('content')
    greeting.put()
    self.redirect('/greet')</code></pre>
</div>
<p>
  ...........
</p>

<h4 class="pull-right"><a href="/gate/guide/admin.html">Admin <span class="glyphicon glyphicon-arrow-right"></span></a></h4>
<h4 class="pull-left"><a href="/gate/guide/design.html"><span class="glyphicon glyphicon-arrow-left"></span> Design</a></h4>
{% endblock %}
