{% extends "base.html" %}

{% block title %}Gate{% endblock %}

{% block content %}
<h2>Guide</h2>
<hr />
<ul class="list-unstyled">
  <li><a href="/gate/guide/overview.html">Overview</a></li>
  <li><a href="/gate/guide/getting_started.html">Getting Started</a></li>
  <li><a href="/gate/guide/#">Python and HTML Basics</a></li>
  <li><a href="/gate/guide/#">Hello World</a></li>
  <li><a href="/gate/guide/#">MVC Pattern</a></li>
  <li><a href="/gate/guide/#">Design</a></li>
  <li><a href="/gate/guide/#">Databases</a></li>
  <li><a href="/gate/guide/#">Building Out</a></li>
  <li><a href="/gate/guide/publishing.html">Publishing on GAE</a></li>
</ul>
{% endblock %}
