{% extends "base.html" %}

{% block title %}Gate{% endblock %}

{% block content %}
<h2>Overview</h2>
<h4>Basically just the README</h4>
<hr />

<h4>System Requirements</h4>
<ul>
  <li><a href="http://developers.google.com/appengine/downloads">Google App Engine SDK</a></li>
  <li>Python 2.7</li>
</ul>

<br />

<h4>Setup Instructions</h4>
<p>
  The following will set up the final checkpoint as an example for what can be
  achieved with this tutorial:
</p>
<pre><code class="language-clike">
git clone http://github.com/samolds/gate.git
cd gate
/usr/local/google_appengine/dev_appserver.py app
</code></pre>
<p>
  You should now have a skeleton of the site up and running on localhost:8080.
  Thanks for playing!
</p>

<h4 class="pull-right"><a href="/gate/guide/getting_started.html">Getting Started <span class="glyphicon glyphicon-arrow-right"></span></a></h4>
{% endblock %}
