{% extends "base.html" %}

{% block title %}Greet{% endblock %}

{% block body %}
<h2>Greet</h2>

<ul class="list-unstyled">
  {% for greeting in greetings %}
    <li style="padding-bottom: 20px;">
      {{ greeting.content}}<br />
      - {{ greeting.author }}
    </li>
  {% endfor %}
</ul>

<hr />

<form action="/greet?guestbook_name={{ guestbook_name }}" method="post">
  <div><textarea name="content" rows="3" cols="60"></textarea></div>
  <div><input type="submit" value="Sign Guestbook"></div>
</form>
<hr>
<form>Guestbook name:
  <input value="{{ guestbook_name }}" name="guestbook_name">
  <input type="submit" value="switch">
</form>
<a href="{{ url }}">{{ url_linktext }}</a>

{% endblock %}
