{% extends "base.html" %}

{% block title %}Greet{% endblock %}

{% block body %}
<h2>Greet</h2>
<hr />

<br />
<ul class="list-unstyled">
  {% for greeting in greetings %}
    <li style="padding-bottom: 20px;">
      {{ greeting.content }}<br />
      - {{ greeting.author }}
    </li>
  {% endfor %}
</ul>

<hr />

<form action="/greet" method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="content">Sign</label>
        <textarea class="form-control" id="content" name="content" rows="8"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="(Optional)">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="(Optional)">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Sign Guestbook</button>
</form>

{% endblock %}
