<div class="col-sm-3 col-md-2 sidebar">
  <h1 id="site-title">{{ APP_NAME }}</h1>
  <ul class="nav nav-sidebar">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
  <div class="pushed-bottom">
    {% if IS_ADMIN %}<h4>Admin</h4>{% endif %}
    <ul class="list-unstyled">
      {% if IS_ADMIN %}
        <li><a href="/admin">Panel</a></li>
        <li><a href="{{ LOGINOUT_URL }}">{{ LOGINOUT_LINKTEXT }}</a></li>
      {% else %}
        <li><small><a href="{{ LOGINOUT_URL }}">{{ LOGINOUT_LINKTEXT }}</a></small></li>
      {% endif %}
    </ul>
  </div>
</div>
